<div class="container">
  <img src="perfil.jpg" alt="Foto de artista" class="profile-pic"/>
  <div class="links">
    <h1 class="title">LETTER</h1>
  <!-- <h1 class="title">Último lanzamiento</h1>
  <img src="todoirabien.png" alt="Foto canción" class="cancion-pic"/>
  <p class="subtitle">Escuchalo ahora ❤️🎧</p>
  <div class="links">
    <a href="https://www.youtube.com/watch?v=uW9F8yzxUPo" target="_blank">
      <i class="fab fa-youtube"></i> Reproducir "Dónde fue"
    </a>
     <a href="https://open.spotify.com/intl-es/track/58Ba22cxLjPaooy8mmTv3b?si=ad7229b833a449c2" target="_blank">
      <i class="fab fa-spotify"></i> Reproducir "Todo irá bien"
    </a>
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/58Ba22cxLjPaooy8mmTv3b?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
  <br> -->

    <a href="https://open.spotify.com/intl-es/artist/2RIlDEsS65mDVt6P9JRGRT?si=IhfT000YSjG5Z4nBcuN_zQ" target="_blank">
      <i class="fab fa-spotify"></i> Spotify
    </a>
    
    <a href="https://www.youtube.com/@letter.oficial" target="_blank">
      <i class="fab fa-youtube"></i> YouTube
    </a>
    
    <a href="https://www.instagram.com/letter.oficial/" target="_blank">
      <i class="fab fa-instagram"></i> Instagram
    </a>
    
    <a href="https://www.tiktok.com/@letter.oficial/" target="_blank">
      <i class="fab fa-tiktok"></i> TikTok
    </a>
  </div>
  <br>
  <br>
  <iframe style="border-radius:12px" src="https://open.spotify.com/embed/artist/2RIlDEsS65mDVt6P9JRGRT?utm_source=generator&theme=0" width="auto" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  <br>
  <br>

</div>